* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(106, 179, 179, 0.507);
  color: rgb(25,25,25);
  height: 3rem;
  font-size: 2rem;
}

.user-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-list ul li {
  list-style: none;
}

.single-user {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  background-color: rgba(237, 196, 164, 0.333);
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  font-size: 1rem;

}

.single-user img {
  margin-right: 20px;
  border-radius: 50%;
}

.user-info .user-mail {
  margin: 10px 0;
}